/* Navbar styles 
nav{
 
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px 120px 150px;
}

nav ul{
    display:flex;
 
}

nav ul li {
    list-style: none;
    margin-right: 45px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* Banner styles  */
/* .banner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 120px 150px;
}


.banner-title{
    font-weight: bold;
    font-size: 65px;


}
.banner-content{
    max-width: 570px;
}
.banner-description{
     
    font-size: 22px;
}
.banner-image{
    width: 570px;
    height: 355px;
}
   */